{% extends 'layout.twig' %}

{% block body %}

<center>
	<div class="container">
		<br><br>
		<h2 class="h2">India</h2><br>
		<div class="row">
			<div class="col-sm-5" style="border:1px solid black;border-radius:5px;padding:1%;">
				<h4 style="color:blue;">Total Confirmed: </h4>
				<p style="font-size:24px;color:gray;" id="value1">{{indiadata.cases}}</p>
				<i class='fa fa-arrow-up' style='color:red;font-size:20px;'> {{indiadata.todayCases}}</i>
			</div>
			<div class="col-sm-5 ml-auto" style="border:1px solid black;border-radius:5px;padding:1%;">
				<h4 style="color:red;">Total Deaths: </h4>
				<p style="font-size:24px;color:gray;" id="value2">{{indiadata.deaths}}</p>
				<i class='fa fa-arrow-up' style='color:red;font-size:20px;'> {{indiadata.todayDeaths}}</i>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-sm-5" style="border:1px solid black;border-radius:5px;padding:1%;">
				<h4 style="color:green;">Total Recovered: </h4>
				<p style="font-size:24px;color:gray;" id="value3">{{indiadata.recovered}}</p>
			</div>
			<div class="col-sm-5 ml-auto" style="border:1px solid black;border-radius:5px;padding:1%;">
				<h4 style="color:orange;">Total Active: </h4>
				<p style="font-size:24px;color:gray;" id="value4">{{indiadata.active}}</p>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-sm-12" style="height:420px;border:1px solid black;border-radius:5px;padding:1%;">
				<div id="chartContainer"></div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-sm-12" style="height:420px;border:1px solid black;border-radius:5px;padding:1%;">
				<div id="chartContainer1"></div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-sm-12" style="height:420px;border:1px solid black;border-radius:5px;padding:1%;">
				<div id="chartContainer3"></div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-sm-12" style="height:420px;border:1px solid black;border-radius:5px;padding:1%;">
				<div id="chartContainer2"></div>
			</div>
		</div><br><br>
	</div>
</center>
<script>
window.onload = function() {
var dataPoints1 = [];
var chart1 = new CanvasJS.Chart("chartContainer1", {
	animationEnabled: true,
	theme: "light2",
  	type: "line",
	title: {
		text: "Daily Confirmed cases"
    },
    axisX:{      
        valueFormatString: "DD-MMM" ,
        labelAngle: -50
    },
	axisY: {
		title: "Cases",
		titleFontSize: 24,
		includeZero: true
	},
	data: [{
		color: "blue",
        type: "column",
        xValueFormatString: "DD-MMM",
		yValueFormatString: "#,### Cases",
		dataPoints: dataPoints1
	}]
});
function addData1(data) {
    var datas=data.cases_time_series;
	for (var i = 0; i < datas.length; i++) {
		dataPoints1.push({
			x: new Date(datas[i].date),
			y: parseInt(datas[i].dailyconfirmed)
		});
	}
	chart1.render();
}
$.getJSON("https://api.covid19india.org/data.json", addData1);

var dataPoints2 = [];
var chart2 = new CanvasJS.Chart("chartContainer2", {
	animationEnabled: true,
	theme: "light2",
  	type: "line",
	title: {
		text: "Daily Recovered cases"
    },
    axisX:{      
        valueFormatString: "DD-MMM" ,
        labelAngle: -50
    },
	axisY: {
		title: "Cases",
		titleFontSize: 24,
		includeZero: true
	},
	data: [{
		color: "green",
        type: "column",
        xValueFormatString: "DD-MMM",
		yValueFormatString: "#,### Cases",
		dataPoints: dataPoints2
	}]
});
function addData2(data) {
    var datas=data.cases_time_series;
	for (var i = 0; i < datas.length; i++) {
		dataPoints2.push({
			x: new Date(datas[i].date),
			y: parseInt(datas[i].dailyrecovered)
		});
	}
	chart2.render();
}
$.getJSON("https://api.covid19india.org/data.json", addData2);

var dataPoints3 = [];
var chart3 = new CanvasJS.Chart("chartContainer3", {
	animationEnabled: true,
	theme: "light2",
  	type: "line",
	title: {
		text: "Daily Deaths cases"
    },
    axisX:{      
        valueFormatString: "DD-MMM" ,
        labelAngle: -50
    },
	axisY: {
		title: "Cases",
		titleFontSize: 24,
		includeZero: true
	},
	data: [{
		color: "red",
        type: "column",
        xValueFormatString: "DD-MMM",
		yValueFormatString: "#,### Cases",
		dataPoints: dataPoints3
	}]
});
function addData3(data) {
    var datas=data.cases_time_series;
	for (var i = 0; i < datas.length; i++) {
		dataPoints3.push({
			x: new Date(datas[i].date),
			y: parseInt(datas[i].dailydeceased)
		});
	}
	chart3.render();
}
$.getJSON("https://api.covid19india.org/data.json", addData3);

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "India covid-19 total data"
	},
	data: [{
		type: "doughnut",
		startAngle: 240,
		yValueFormatString: "##,###,###",
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: {{indiadata.cases}}, label: "Total Confirmed", color:"blue"},
    		{y: {{indiadata.deaths}}, label: "Total Deaths", color:"red"},
			{y: {{indiadata.recovered}}, label: "Total Recovered", color:"green"},
			{y: {{indiadata.active}}, label: "Total Active", color:"orange"}
		]
	}]
});
chart.render();

}
</script>
<script>
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
var val1 = parseInt($('#value1').text());
val1 = numberWithCommas(val1);
$('#value1').text(val1);

var val2 = parseInt($('#value2').text());
val2 = numberWithCommas(val2);
$('#value2').text(val2);

var val3 = parseInt($('#value3').text());
val3 = numberWithCommas(val3);
$('#value3').text(val3);

var val4 = parseInt($('#value4').text());
val4 = numberWithCommas(val4);
$('#value4').text(val4);

</script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}